.App {
  text-align: center;
  background-color: #F5F1EA;
}
nav{
  top:0;
  box-shadow: #8C9086;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
nav .navbar-collapse.collapse{
  display: block;
}
@media (max-width: 991px){
  nav .navbar-collapse.collapse{
      overflow: hidden;
  }
  nav .navbar-collapse.active{
      height: 100vh !important;
  }
}
nav .navbar-collapse{
  transition: .6s all ease-in-out;
  height: 0 !important;
}

.footer{
  /* position:absolute; */
  left:0;
  bottom:0;
  right:0;
}

.home{
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
